@page
@model dotnet_ECommerce.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Input.FirstName"></label>
    <input asp-for="Input.FirstName" />

    <label asp-for="Input.LastName"></label>
    <input asp-for="Input.LastName" />

    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email" />
    <span asp-validation-for="Input.Email"></span>

    <label asp-for="Input.Password"></label>
    <input asp-for="Input.Password" />

    <label asp-for="Input.ConfirmPassword"></label>
    <input asp-for="Input.ConfirmPassword" />

    <button type="submit">Register</button>
</form>