@page
@using Microsoft.AspNetCore.Identity
@using dotnet_ECommerce.Models
@model dotnet_ECommerce.Pages.Shop.CartModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "My Cart";
    Layout = "_Layout";
}
<div class="container text-center">
    <h1 class="text-left">My Cart</h1>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>