@page
@model dotnet_ECommerce.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<div class="container">
    <h1>
        Hello Administrator!
    </h1>
    <div class="row  text-center">
        <div class="col">
            <a href="/Products">
                <img src="https://via.placeholder.com/400" alt="...">
            </a>
            <h2>Manage Products</h2>
        </div>
        <div class="col">
            <a href="#">
                <img src="https://via.placeholder.com/400" alt="...">
            </a>
            <h2>Orders</h2>
        </div>
    </div>
</div>