@page
@model dotnet_ECommerce.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<div class="container">
    <h1>
        Hello Administrator!
    </h1>
    <div class="row  text-center">
        <div class="col">
            <a href="/Inventory">
                <img src="https://via.placeholder.com/300" alt="...">
            </a>
            <h2>Manage Products</h2>
        </div>
        <div class="col">
            <a href="/Orders">
                <img src="https://via.placeholder.com/300" alt="...">
            </a>
            <h2>Orders</h2>
        </div>
        <div class="col">
            <a href="/BlobStorage">
                <img src="https://via.placeholder.com/300" alt="...">
            </a>
            <h2>Manage Blob Files</h2>
        </div>
    </div>
</div>