img {
    object-fit: cover;
}

.hero {
    height: 750px;
}

.products {
    height: 300px;
    width: 300px;
}

.btn-links {
    color: rgba(0,0,0,.5);
}

.btn-links:hover {
    text-decoration: underline;
}

.btn2 {
    background-color: transparent;
    border: 1px solid transparent;
}

.button {
    padding: 0 .75rem;
    display: inline-block;
}

h6 {
    line-height: 1.5;
}