@model IEnumerable<dotnet_ECommerce.Models.CartItems>

<div class="row">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        @if (@Model.Count() == 0)
        {
            <tbody>
                <tr class="text-center">
                    <td colspan="3">
                        Shopping Cart Is Empty
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @item.Product.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            $ @(item.Quantity * item.Product.Price)
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>