<!DOCTYPE html>
<html>
<head>
    <title>
        Karina-Kyungra eCommerce
    </title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>
            Testing - This is Home Index
        </h1>
    </main>
    <footer>

    </footer>

</body>
</html>
